/algorithm/*idea
target/
.metals
/algorithm/algorithm.iml
/algorithm/out
/NettyInAction/*.iml
/NettyInAction/target
/NettyInAction/target/*
NettyInAction/.idea
*.iml
*/target
*/.idea
.vscode/
/big data/flink/target
/big data/flink/.idea
/leetcode/out/*

big data/flink/.classpath
big data/flink/.project
big data/flink/.settings/org.eclipse.jdt.core.prefs
big data/flink/.settings/org.eclipse.jdt.apt.core.prefs
big data/flink/.settings/org.eclipse.m2e.core.prefs
NettyInAction/
backend/grpc/examples/.gradle/5.4.1/gc.properties
backend/grpc/examples/.gradle/5.4.1/executionHistory/executionHistory.bin
backend/grpc/examples/.gradle/5.4.1/executionHistory/executionHistory.lock
backend/grpc/examples/.gradle/5.4.1/fileChanges/last-build.bin
backend/grpc/examples/.gradle/5.4.1/fileContent/fileContent.lock
backend/grpc/examples/.gradle/5.4.1/fileHashes/fileHashes.bin
backend/grpc/examples/.gradle/5.4.1/fileHashes/fileHashes.lock
backend/grpc/examples/.gradle/5.4.1/javaCompile/classAnalysis.bin
backend/grpc/examples/.gradle/5.4.1/javaCompile/javaCompile.lock
backend/grpc/examples/.gradle/5.4.1/javaCompile/taskHistory.bin
backend/grpc/examples/.gradle/buildOutputCleanup/buildOutputCleanup.lock
backend/grpc/examples/.gradle/buildOutputCleanup/cache.properties
backend/grpc/examples/.gradle/buildOutputCleanup/outputFiles.bin
backend/grpc/examples/.gradle/vcs-1/gc.properties
backend/grpc/examples/.idea/compiler.xml
backend/grpc/examples/.idea/encodings.xml
backend/grpc/examples/.idea/misc.xml
backend/grpc/examples/.idea/modules.xml
backend/grpc/examples/.idea/sbt.xml
backend/grpc/examples/.idea/workspace.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_android_annotations_4_1_1_4.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_api_grpc_proto_google_common_protos_1_12_0.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_3.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_guava_guava_28_1_android.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_11_0.xml
backend/grpc/examples/.idea/libraries/Maven__com_google_protobuf_protobuf_java_util_3_11_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_api_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_context_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_core_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_netty_shaded_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_protobuf_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_protobuf_lite_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_stub_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_grpc_grpc_testing_1_26_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_opencensus_opencensus_api_0_24_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_opencensus_opencensus_contrib_grpc_metrics_0_24_0.xml
backend/grpc/examples/.idea/libraries/Maven__io_perfmark_perfmark_api_0_19_0.xml
backend/grpc/examples/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
backend/grpc/examples/.idea/libraries/Maven__junit_junit_4_12.xml
backend/grpc/examples/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_10.xml
backend/grpc/examples/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_10.xml
backend/grpc/examples/.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_5_5.xml
backend/grpc/examples/.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
backend/grpc/examples/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
backend/grpc/examples/.idea/libraries/Maven__org_mockito_mockito_core_2_28_2.xml
backend/grpc/examples/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
backend/grpc/examples/gradle/wrapper/gradle-wrapper.jar
backend/grpc/examples/gradle/wrapper/gradle-wrapper.properties
